@import "../valo/valo.scss";

@mixin vaadinlayouts {
  @include valo;

.pink-header {
	color: white;
	background: #F50A7F;
	padding-left: 10px;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.10);
}

.title-text{
color: #F50A7F;
font-size: 30px;
padding-left:40px;
}
}


